.input {
    margin-left: 5rem;
    width: 29rem;
    margin-top: 5rem;
}

.th {
    color: #043d53;
    font-weight: bold;
    text-align: center;
}

.td_bold {
    font-weight: bold;
}

.td_left {
    text-align: left;
}

.detalhes {
    width: 3rem;
    border-width: 1px;
    border-style: dashed;
    border-color: #043d8b;
}

.div_detalhadas {
    overflow: auto;
    height: 30rem;
    background-color: #34aad8;
    margin-left: 10.5rem;
    width: 82rem;
    margin-top: 5rem;
}

.div {
    display: block;
    width: 105rem;
    height: 52rem;
    background-color: rgb(52, 170, 216);
    border-radius: 50px 20px;
    overflow: overlay;

}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.selecionado {
    background-color: rgb(0, 26, 255);
}

.negrito {
    font-weight: bold;
}